

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background: url('../home/img/fondoC.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
    height: 100vh; 
    display: flex;
    flex-direction: column; 
}


header {
    background: #bd3b3b; 
    color: #fff;
    padding: 10px 20px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}


.menu-icon, .menu-close {
    display: none; 
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(135deg, #bd3b3b, #862525);
    border-radius: 10px; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
    width: 100%;
}

/* Estilo de las secciones dentro del menú */
.menu li {
    margin: 0 10px;
    font-size: 18px;
    text-align: center;
}

/* Estilo de los enlaces del menú */
.menu a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 12px;
    display: block;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.menu a:hover {
    background-color: #eabb4d; 
    color: #862525; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: none; 
}

.menu a.active {
    background-color: #eabb4d;
    border-color: #de8116;
    border-style: dotted;
    border-radius: 5px;
    padding: 5px 10px;
}

/* Menú hamburguesa en dispositivos pequeños */
@media (max-width: 1000px) { 
    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        height: 50vh; /* La mitad de la altura de la pantalla */
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(189, 59, 59, 0.95);
        z-index: 1000;
        padding: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        border-radius: 0;
    }

    .menu li {
        margin: 15px 0;
        text-align: left;
        font-size: clamp(16px, 3vw, 20px);
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 30px;
        z-index: 1001;
        color: white; 
    }

    .menu-close {
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        z-index: 1002;
    }

    body.menu-open .menu {
        display: flex;
        transform: translateX(0);
    }

    body.menu-open .menu-icon {
        display: none;
    }

    body.menu-open .menu-close {
        display: block;
    }

    body.menu-open {
        overflow: hidden;
    }
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}

.logo-img {
    height: 60px;
    width: auto;
}

/* Menú hamburguesa en dispositivos pequeños */
@media (max-width: 1000px) { 
    .menu {
        display: none;
        flex-direction: column;
        width: 50%; /* Solo la mitad del lado izquierdo */
        height: 100vh;
        overflow-y: auto;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(189, 59, 59, 0.95);
        z-index: 1000;
        padding: 20px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
        border-radius: 0;
    }

    .menu li {
        font-size: clamp(16px, 3vw, 20px);
    }

    .menu-icon {
        display: block;
        position: fixed;
        top: 20px;
        left: 20px;
        font-size: 30px;
        z-index: 1001;
        color: white; 
    }

    .menu-close {
        display: none;
        position: fixed;
        top: 20px;
        right: 20px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        z-index: 1002;
    }

    body.menu-open .menu {
        display: flex;
        transform: translateX(0);
    }

    body.menu-open .menu-icon {
        display: none;
    }

    body.menu-open .menu-close {
        display: block;
    }

    body.menu-open {
        overflow: hidden;
    }
}

/* Logo */
.logo {
    display: flex;
    align-items: center;
    margin-right: auto; 
}

.logo-img {
    height: 60px;
    width: auto;
}

@media (max-width: 1000px) {
    .logo {
        justify-content: center;
        margin: 20px 0;
    }

    .logo-img {
        height: 60px;
        width: auto;
    }

    .menu li {
        font-size: clamp(14px, 4vw, 18px);
    }
}






#login {
    background: linear-gradient(135deg, rgba(117, 24, 24, 0.9) 0%, rgba(220, 140, 140, 0.9) 100%), 
                url('https://www.transparenttextures.com/patterns/dark-fish-skin.png'); 
    border-color: #f9d077; 
    border-style: dotted;
    border-radius: 12px; 
    padding: 40px 30px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    max-width: 450px; 
    box-sizing: border-box; 
    text-align: center; 
    backdrop-filter: blur(5px); 
    border-style: double; 
    
}


#login h1 {
    font-size: 2.5em;
    color: #000000;
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}


#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}


#loginForm label {
    font-size: 1.2em;
    margin-bottom: 5px;
    color: #ffffff; 
    text-align: left;
    width: 100%;
}


#loginForm input {
    font-size: 1em;
    padding: 12px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 8px; 
    width: 100%;
    box-sizing: border-box;
    transition: border-color 0.3s ease;
}

#loginForm input:focus {
    border-color: #751818; 
    outline: none;
}


#loginForm button {
    background-color: #751818;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 1.2em;
    cursor: pointer;
    border-radius: 8px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
}

#loginForm button:hover {
    background-color: #b32d2d;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); 
}


.error-message {
    color: rgb(56, 6, 6);
    font-size: 1em;
    margin-top: 10px;
}



@media (max-width: 768px) {
    #login {
        padding: 20px 15px; 
        max-width: 90%; 
    }
    
    #login h1 {
        font-size: 2em; 
    }
    
    #loginForm input, #loginForm button {
        font-size: 1em; 
        padding: 10px; 
    }
}


#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}


#themeToggle:hover {
    background-color: #f0f0f0;
}


body.light-theme {
    background: url('../home/img/fondoC.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}



body.dark-theme {
    background: url('../home/img/fondoO.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: repeat;
    background-attachment: fixed;
}

body.dark-theme #login {
    background: linear-gradient(135deg, rgba(26, 24, 117, 0.9) 0%, rgba(140, 197, 220, 0.9) 100%), 
                url('https://www.transparenttextures.com/patterns/dark-fish-skin.png');
    border: 2px solid #295f9d; 
    background-color: #7cadb6; 
}

.form-group {
    margin: 20px 0;
    font-family: Arial, sans-serif;
}

.form-group > div {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
}

.form-group > div label {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: #000000;
    gap: 10px;
}

.form-group > div label input[type="radio"] {
    margin: 0;
    transform: scale(1.5); 
}

@media (max-width: 576px) {
    .form-group > div {
        flex-direction: column;
        gap: 20px;
    }

    .form-group > div label {
        font-size: 14px;
    }
}



#register {
    background: linear-gradient(135deg, rgba(117, 24, 24, 0.9) 0%, rgba(220, 140, 140, 0.9) 100%),
                url('https://www.transparenttextures.com/patterns/dark-fish-skin.png'); 
    border: 2px dotted #f9d077; 
    border-radius: 12px;
    padding: 40px 30px; 
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    max-width: 600px; 
    margin-top: 100px; 
    box-sizing: border-box; 
    text-align: left; 
    backdrop-filter: blur(5px); 
    border-style: double;
    min-width: 300px;
}

#registerForm   {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}


.form-group {
    margin-bottom: 20px;
    max-width: 300px;
    justify-content: space-evenly;
    align-items: center;
}


#themeToggle {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    cursor: pointer;
    padding: 10px;
    width: 50px; 
    height: 50px; 
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; 
}


#themeToggle:hover {
    background-color: #f0f0f0;
}


body.light-theme {
    background: url('../home/img/fondoC.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


body.dark-theme {
    background: url('../home/img/fondoO.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

body.dark-theme #register {
    background: linear-gradient(135deg, rgba(26, 24, 117, 0.9) 0%, rgba(140, 197, 220, 0.9) 100%),
                url('https://www.transparenttextures.com/patterns/dark-fish-skin.png');
    border: 2px solid #295f9d; 
    background-color: #7cadb6; 
}


#generoOtro {
    display: none;
}


#genero:valid[value="otro"] ~ #generoOtro {
    display: block;
}

button[type="submit"] {
    margin-top: 10px;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: bold;
}


#errorMessage {
    margin: 10px auto; 
    font-size: 14px;
    color: #721010;
    display: flex;
    justify-content: center; 
    align-items: center;
    text-align: center; 
    width: 100%; 
}

main {
    padding: 20px;
    margin-top: 70px; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
}


section {
    width: 100%; 
    max-width: 1000px; 
}

#presentation   {
    display: flex;
    flex-direction: row;
}


h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 5px; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); 
    display: block; 
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
    margin-left: auto;
    margin-right: auto;
}


.gallery-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
    gap: 35px; 
}

.gallery-item {
    overflow: hidden; 
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1; 
    background-color: #000000; 
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block; 
}




.carrusel {
    position: relative;
    width: 100%;
    max-width: 1000px;
    margin: 20px auto; 
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.carrusel .imagenes {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrusel .imagenes .img {
    min-width: 100%;
    height: auto;
}

.carrusel .imagenes img {
    width: 100%;
    height: auto;
}


.carrusel .flecha {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: 18px;
    z-index: 2;
}


.carrusel .circulo-izquierda {
    left: 10px;
}


.carrusel .circulo-derecha {
    right: 10px;
}


.carrusel .flecha:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


.card {
    background: rgba(255, 255, 255, 0.9); 
    border: 2px solid #751818; 
    border-radius: 5px; 
    border-style: double;
    padding: 40px 20px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); 
    width: 100%; 
    max-width: 600px; 
    box-sizing: border-box; 
    transform: translateY(20px); 
    display: flex;
    flex-direction: column; 
    align-items: center;
}


.card h2 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 2em;
    color: #000;
    margin-bottom: 20px;
    text-align: center; 
}


.card p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
    line-height: 1.6;
    color: #333;
    text-align: center; 
    margin-bottom: 20px; 
}

.img5 {
    width: auto;
    max-width: 100%;
    height: 400px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 10px;
}


@media (max-width: 768px) {
    .img5 {
        height: 250px; 
    }
}


@media (max-width: 1024px) and (min-width: 769px) {
    .img5 {
        height: 300px; 
    }
}


@media (min-width: 1025px) {
    .img5 {
        height: 400px; 
    }
}


.noticia {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px;
}

.noticia h3 {
    margin-bottom: 10px;
    color: #333;
    font-size: 18px;
}

.noticia p {
    margin-bottom: 15px;
    font-size: 14px;
}


.noticia img {
    width: 100%;
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
    border-radius: 5px;
}

.noticia a {
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #a94141;
    border-color: #ffbe79;
    border-style: ridge;
    padding: 10px 15px;
    border-radius: 5px;
    text-align: center;
    margin-top: 10px;
}

.btn {
    display: block;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

@media (min-width: 768px) {
    .noticias-container {
        width: 300px; 
        float: right; 
        margin-left: 50px;
        margin-top: 20px;
    }
}


@media (max-width: 1250px) {
    .noticias-container {
        width: 100%; 
        margin-left: 0; 
        margin-top: 20px; 
    }
}


.noticia-detalle {

    padding: 20px;
    margin-bottom:50px;
    max-width: 800px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.noticia-detalle h1 {
    font-size: 2.5em;
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}


.imagen-principal {
    text-align: center;
    margin: 20px 0;
}

.imagen-principal p {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.noticia-detalle p {
    font-size: 1.2em;
    color: #000000;
    line-height: 1.6;
    margin-bottom: 20px;
}


.video {
    text-align: center;
    margin: 20px 0;
}

.video iframe {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.btn-volver-home {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #bd4848;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-volver-home:hover {
    background-color: #752a2a;
}


footer {
    text-align: center;
    padding: 0px;
    background-color: #501c1c;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

.Ftext p    {

    font-size: 1rem;
    margin-bottom: 20px;
    text-align: center;
    line-height: 1.5;

}



#gallery h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
    color: #000000;
    margin-bottom: 10px;
    margin-top: 10px; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    width: 100%;
}

.gallery-carousel {
    display: none; 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 1000; 
    overflow: hidden; 
}

.gallery-carousel img {
    max-width: 80%;
    max-height: 80%;
    object-fit: contain;
}

.gallery-carousel .gallery-close {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 30px;
    color: white;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 50%;
    padding: 10px;
}

.gallery-carousel .gallery-prev,
.gallery-carousel .gallery-next {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s ease;
}

.gallery-carousel .gallery-prev {
    position: absolute;
    left: 10px;
}

.gallery-carousel .gallery-next {
    position: absolute;
    right: 10px;
}

.gallery-carousel .gallery-prev:hover,
.gallery-carousel .gallery-next:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.gallery-grid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); 
    gap: 20px; 
    padding: 20px; 
    margin-top: 20px; 
}

.gallery-item {
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    border-radius: 5px; 
}

.gallery-item img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

#personajes h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
    color: #000000;
    margin-bottom: 10px;
    margin-top: -25px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); 
    display: block; 
    width: 100%;
    max-width: 100%; 
    box-sizing: border-box; 
    margin-left: auto;
    margin-right: auto;
}

#personajes {
    padding: 20px;
    margin-top: 10px;
}

#personajes .info-personaje {
    display: flex;
    align-items: center;
    background-color: #f9f9f9; 
    padding: 15px; 
    margin-bottom: 15px; 
    border-radius: 10px;
    border-style: double;
    border-color: #751818;
    box-shadow: 0 2px 6px rgb(53, 15, 15);
    box-sizing: border-box;
    position: relative;
    z-index: 1;
}

#personajes .info-personaje img {
    width: 120px; 
    height: 160px; 
    border-radius: 4px;
    margin-right: 15px;
    object-fit: cover;
}

#personajes .info {
    flex: 1;
    text-align: left;
}

#personajes .info h2 {
    font-family: 'Times New Roman', Times, serif;
    margin: 0 0 10px;
    font-size: 24px; 
    color: #000000;
}

#personajes .info p {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    color: #000000;
    text-align: justify;
}

@media (max-width: 768px) {
    #personajes .info-personaje {
        flex-direction: column;
        align-items: flex-start;
    }

    #personajes .info-personaje img {
        margin-right: 0;
        margin-bottom: 10px;
    }


    .gallery-grid {
        grid-template-columns: repeat(4, 1fr); 
    }
}

@media (max-width: 480px) {

    .gallery-grid {
        grid-template-columns: repeat(2, 1fr); 
    }
}



#Caballos h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
    color: #000000;
    margin-bottom: 10px;
    margin-top: -80px; 
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7); 
    display: block;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}


.caballo-nombre {
    font-size: 2em; 
    font-weight: bold; 
    color: #000000; 
    margin-bottom: 10px; 
    text-align: center; 
}


#Caballos {
    padding-top: 80px;
    text-align: center;
}

.caballo-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    padding: 40px;
    margin: 20px auto;
    max-width: 1600px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}


.caballo-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    justify-items: center;
    flex: 1;
}


.caballo-texto {
    flex: 1;
    margin-right: 20px;
}

.caballo-imagenes {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    justify-items: center;
    flex: 1;
}

.caballo-imagenes img,
.ubicacion-item img {
    max-width: 350px;
    cursor: pointer;
}

.ubicacion-mapa {
    margin: 20px auto;
    max-width: 1400px; 
    text-align: left;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 60px; 
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.ubicacion {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.ubicacion-item {
    flex: 1;
    text-align: center;
    margin-right: 20px;
}


.ubicacion-item:last-child {
    margin-right: 0;
}


@media (max-width: 768px) {
    .caballo-info {
        display: flex;
        flex-direction: row;
        margin-bottom: 20px;
    }
}
    
    .caballo-texto {
        flex: 1;
        padding: 10px;
    }
    
    .caballo-imagenes {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    
    .caballo-imagenes img {
        width: 100%;
        max-width: 300px;
        margin: 5px 0;
    }
    
    .ubicacion-mapa {
        margin-bottom: 40px;
    }
    
    .ubicacion-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }
    

    .arabe-imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 30px; 
        width: 100%; 
    }
    
    .arabe-columna img {
        width: 100%; 
        margin: 15px 0; 
    }
    

    @media (max-width: 768px) {
        .arabe-imgs {
            grid-template-columns: 1fr; 
        }
    
        .arabe-columna img {
            max-width: 100%; 
            margin: 10px 0;
        }
    }
    


    .ubicacion-item img {
        width: 100%;
        max-width: 300px;
    }
    
    .modal {
        display: none;
        position: fixed;
        z-index: 1000;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);
    }
    
    .modal-content {
        margin: auto;
        display: block;
        max-width: 80%;
        max-height: 80%;
    }
    
    .modal-close {
        position: absolute;
        top: 20px;
        right: 35px;
        color: #fff;
        font-size: 40px;
        font-weight: bold;
        transition: 0.3s;
        cursor: pointer;
    }
    
    .modal-close:hover,
    .modal-close:focus {
        color: #bbb;
        text-decoration: none;
        cursor: pointer;
    }
    





    .desafio-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        gap: 15px; 
        padding: 20px;
    }
    
    .desafio-box {
        background: rgba(255, 255, 255, 0.8); 
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
        padding: 20px;
        text-align: center; 
        font-size: 14px;
    }
    
    .desafio-box h4 {
        color:#000;
        margin-top: 0;
        font-size: 20px; 
    }
    .desafio-box strong {
        font-size: 1.2em; 
    }
    
    .desafio-box p {
        font-size: 16px; 
    }
    
    .hidden {
        max-height: 0; 
        overflow: hidden; 
        transition: max-height 0.5s ease; 
    }
    
    .hidden.expanded {
        max-height: 500px; 
    }
    
    

    @media (max-width: 768px) {
        .desafio-container {
            grid-template-columns: 1fr; 
        }
    
        .desafio-box {
            padding: 15px; 
        }
    }
    

    @media (max-width: 576px) {
        .desafio-container {
            padding: 10px; 
        }
    
        .desafio-box {
            padding: 10px; 
        }
    }
    

.ver-mas {
    background-color: #763333; 
    color: white; 
    font-size: 16px; 
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    transition: background-color 0.3s ease, transform 0.2s ease; 
}


.ver-mas:hover {
    background-color: #763333;
    transform: scale(1.05); 
}


.ver-mas:active {
    transform: scale(0.98); 
}


#anuncio {
    border-style: dashed;
    border-color: #f5e7c6;
    border-radius: 10px;
    color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 80%;
    max-width: 500px;
    padding: 20px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}


#anuncio .close-btn {
    position: absolute;
    top: 10px;
    right: 15px;
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #ffffff;
    cursor: pointer;
}


#anuncio .btn-dark {
    background-color: #763333;
    border-color: #ffd186;
}

#anuncio .btn-dark:hover {
    background-color: #b34141;
    border-color: #f9c26a;
    border-style: dashed;
}


#anuncio .alert-heading {
    font-size: 1.75rem;
    margin-bottom: 15px;
}


#anuncio.mostrar {
    opacity: 1;
    visibility: visible;
}


.alert {

    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.alert h1 {
    font-size: 2.5em;
    animation: fadeIn 1.5s ease-in-out;
}


.boton {
    display: inline-block;
    padding: 10px 20px;
    color: white;
    background-color: #bc3d3d;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.boton:hover {
    background-color: #781a1a;
    color:#ffd700;
}

.card-title {
    font-size: 1.8em;
    margin-top: 20px;
    color: #ffd700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    transition: transform 0.3s ease;
    cursor: pointer;
}


.card-title:hover {
    transform: scale(1.1);
    color: #ff4500;
}

.title-text  {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    padding: 15px;
    border-radius: 8px;
    margin: 10px 0;
    animation: slideUp 0.5s ease-in-out;
}

.card-text {
    color: rgb(255, 255, 255);
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    animation: slideUp 0.5s ease-in-out;
}


@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}


.popup {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    width: 300px;
    z-index: 1000; 
}

.popup-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.popup-header h5 {
    margin: 0;
}

.popup-close {
    cursor: pointer;
    font-size: 1.2rem;
    background: none;
    border: none;
}

.popup-body {
    margin-top: 10px;
    text-align: center;
}

h5 {
    text-align: center;
    display: block;
    font-size: 2em;
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;

}


.like-button {
    width: 50px; 
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.like-button.liked {
    animation: pulse 0.5s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}




.heart {
    position:fixed;
    width: 30px;
    height: 30px;
    background-image: url('../desafios/ayuda/img/corazon.png'); 
    background-size: cover;
    z-index: 1100; 
    pointer-events: none;
    animation: float 2s ease-out;
}

@keyframes float {
    0% {
        transform: scale(1) translateY(0);
        opacity: 1;
    }
    100% {
        transform: scale(1.5) translateY(-100px);
        opacity: 0;
    }
}


@media (max-width: 768px) {
    .menu {
        display: none;
        flex-direction: column;
    }

    .menu-icon {
        display: block;
    }
}




h1 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
}

p {
    font-size: 1rem;
    margin-bottom: 20px;
    text-align: justify;
    line-height: 1.5;
}

strong {
    font-weight: bold;
}

.imagena, .imagenb, .imagenc {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-volver-homeb {
    display: block;
    width: 200px;
    margin: 30px auto;
    padding: 10px 20px;
    font-size: 1em;
    color: #fff;
    background-color: #bd4848;
    text-decoration: none;
    text-align: center;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a.btn-volver-homeb:hover {
    background-color: #902323;
}

@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    p {
        font-size: 0.9rem;
    }

    a.btn-volver-home {
        display: flex;
    }
}


.sorteo {
    background-color: #e6dfdf;
    padding: 30px;
    border-radius: 10px;
    border-color: #b6adad;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%; 
    max-width: 600px; 
    margin: 20px; 
}

.form-groupA {
    margin-bottom: 20px;
    max-width: 600px;
    justify-content: space-evenly;
    align-items: center;
}

.h1 {
    text-align: center;
    color: #000000; 
    margin-bottom: 30px;
}

label {
    font-weight: bold;
}

input, select {
    border-radius: 5px;
    border: 1px solid #333; 
    width: 100%; 
    box-sizing: border-box; 
}

.btn {
    background-color: #8c271c; 
    color: white;
    border-style: ridge;
    border-color: #f7c995;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    width: 100%; 
}

.btn:hover {
    background-color: #68160d;
    border-style: double;
    border-color: #f7c995;
}

#mensaje {
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
    color: #27ae60; 
}

.form-check-label{
text-align: center;
}

.checkboxSorteo{
display: flex;
justify-content: center;


}

@media (max-width: 576px) {
    .sorteo {
        padding: 20px; 
    }
}



.thank-you-container {
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    max-width: 600px; 
    margin: 50px auto; 
    transition: transform 0.3s, box-shadow 0.3s; 
}


h1 {
    color: #000000;
    margin-bottom: 15px; 
    font-size: 2.5em; 
}

p {
    color: #000000; 
    margin-bottom: 15px; 
    font-size: 1.1em; 
    text-align: center;
}

strong {
    color: #000000; 
    font-size: 1.6em; 
}


.btn-back {
    margin-top: 20px;
    background-color: #a93030; 
    color: white;
    border-radius: 5px;
    padding: 12px 24px; 
    font-weight: bold;
    border: none; 
    transition: background-color 0.3s; 
    text-decoration: none; 
    display: inline-block; 
}

.btn-back:hover {
    background-color: #6b0c0c; 
}

@media (max-width: 768px) {
    .thank-you-container {
        padding: 30px;
    }

    h1 {
        font-size: 2em;
    }

    p {
        font-size: 1em; 
    }

    strong {
        font-size: 1.4em;
    }

    .btn-back {
        padding: 10px 20px; 
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 1.8em; 
    }

    .thank-you-container {
        margin: 20px; 
    }


    strong {
        font-size: 1.2em; 
    }
}


.ayuda  {
text-align: center;
background-color: #e0d9d9;
border-color: #b6adad;
border-radius: 10px;
margin: 100px;

}

.container-botonD {
    text-align: center;
    background-color: #e0d9d9;
    border-color: #b6adad;
    border-radius: 10px;
    margin: 10px; 
    padding: 20px; 
    max-width: 100%; 
}


@media (min-width: 1024px) {
    .container-botonD {
        max-width: 80%;  
        margin: 20px auto; 
    }
}


@media (max-width: 768px) {
    .container-botonD {
        max-width: 90%; 
        margin: 10px auto; 
        padding: 20px;
    }
}

.minijuego {
    background-color: rgba(255, 255, 255, 0.767);
    padding: 60px; 
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin: 100px auto;
    position: relative;
}


.minijuego h1 {
    font-size: 2rem;
    color: #000000;
    font-weight: bold;
}

.minijuego h2, .minijuego h3 {
    color: #000000;
}

#instructions {
    margin-bottom: 15px;
}

#game-board {
    margin-bottom: 15px;
}

#card-show img, #card-hidden img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

#buttons .btn {
    padding: 8px 15px;
    font-size: 1rem;
}

#result span, #points {
    font-weight: bold;
    color: #952212;
}

#joker {
    margin-top: 30px;
}

#joker .btn {
    padding: 8px 15px;
    font-size: 1rem;
    width: auto;
    display: block;
    margin: 0 auto; 
}

#joker .btn:hover {
    color:white; 
}

#hint {
    margin-top: 20px;
}

@media (max-width: 768px) {

    #game-board {
        display: flex; 
        justify-content: center; 
        gap: 20px; 
    }

    #card-show, #card-hidden {
        flex: 1; 
        max-width: 45%; 
        margin-bottom: 0; 
    }

    #buttons .btn {
        font-size: 1rem;
        padding: 8px 15px;
    }

    #joker .btn {
        font-size: 1rem;
    }

    #hint {
        margin-top: 30px;  
        display: block;  
        text-align: center;
    }
}

@media (max-width: 300px) {
    .minijuego {
        padding: 20px;
        margin: 50px auto;
        text-align: center;
    }

    .minijuego h1 {
        font-size: 1.5rem;
    }

    .minijuego h2, .minijuego h3 {
        font-size: 1rem;
    }

    #instructions, #game-board, #hint {
        font-size: 0.9rem;
    }

    #buttons .btn, #joker .btn {
        font-size: 0.9rem;
        padding: 6px 12px;
    }

    #card-show img, #card-hidden img {
        max-width: 90%;
        height: auto;
        margin: 0 auto;
    }
}

.seccion {
    background-color: #ffffffc1;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
}

.texto.alumna {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
    margin-bottom: 20px;
}

.btn-success {
    background-color: #801e11;
    border-color: #e6d26e;
    padding: 12px 24px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 8px;
    width: auto;
    transition: background-color 0.3s ease, transform 0.3s ease;
    display: inline-block;
}

.btn-success:hover {
    background-color: #6a150a;
    border-color: #c1a149;
    transform: scale(1.05);
}

.btn-success:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(164, 28, 25, 0.685);
}


#student-container {
    font-family: 'Times New Roman', Times, serif;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15); 
    max-width: 1200px;
    margin: 0 auto;
    transition: all 0.3s ease;
}

.card {
    background-color: #ffffffca;
    border-radius: 12px;
    padding: 30px;
    height: auto;  

    margin: 0 auto;
    box-sizing: border-box;
}

#student-image {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 5px solid #6a150a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    margin-bottom: 20px;
}

#student-image:hover {
    transform: scale(1.1);
}

.alumna-titulo {
    color: #45140e;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 20px;
    text-align: center;
}

#student-container h3 {
    font-size: 1.2rem;
    color: #000000;
    margin-bottom: 10px;
}

#student-container p {
    font-size: 1rem;
    color: #000000;
    margin-bottom: 15px;
    text-align: left ;
}

#back-btn {
    background-color: #6a150a;
    border-color: #e6d26e;
    padding: 12px 25px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 8px;
    width: auto;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
}

#back-btn:hover {
    background-color: #6a150a;
    border-color: #c1a149;
    transform: scale(1.05);
}

@media (max-width: 992px) {
    .card {

        max-width: 90%;
        margin: 0 auto;
    }

    #student-container h1 {
        font-size: 2rem;
    }

    #student-container h3 {
        font-size: 1rem;
    }

    #student-container p {
        font-size: 0.9rem;
    }

    #back-btn {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}

@media (max-width: 768px) {


    #student-container {
        padding: 20px;
    }

    #student-container h1 {
        font-size: 1.5rem;
    }

    #student-container h3 {
        font-size: 1rem;
    }

    #student-container p {
        font-size: 0.9rem;
    }

    #back-btn {
        width: 100%;
        padding: 12px;
        font-size: 1rem;
    }
}
